<!DOCTYPE html>
<html>
<head>
  <title>AppinionV1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'Appinion', root_url, class: 'navbar-brand'%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="wrapper-body">
          <% flash.each do |a,b| %>
              <div class="alert alert-success"><%= b %></div>
          <% end %>
          <%= yield %>
    </div>
    <!-- /.wrapper-body -->
        <!-- Footer -->

<footer>
        <button type="button" id="choose-file-fake"onclick="chooseFile();"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
            <%= simple_form_for @video, html: { multipart: true, class: 'upload-button' } do |f| %>
            <div style="height:0px;overflow:hidden">
                <%= f.input :video_file, as: :file%>
            </div>
            <%= f.hidden_field :user_id, :value => current_user.id %>
             <button type="button" id="upload-button-fake"onclick="uploadFile();" style="display:none"><i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i></button>
                <div style="height:0px;overflow:hidden">
                <%= f.button :submit, class: 'btn-primary', id:'upload-hidden-button', value: 'Upload Video'%>
                </div>
            <% end %>

     <script>
     //repalace the ugly default choose file button
       function chooseFile() {
          $("#video_video_file").click();
       }

       //replace the upload button
       function uploadFile() {
        //repalace the ugly default choose file button
          $("#upload-hidden-button").click();
       }


       //detect if a file has been chosen
       $('#video_video_file').change(function() {
        // If the upload field is empty, we'll hide te upload button,
        // Otherwise, let's show it.
        if($('#video_video_file').val() ==null ) {

        } else {
           $('#choose-file-fake').hide();
           $('#upload-button-fake').show();
        } // end if/else

    });
    </script>
</footer>



</body>

</html>

